.w3-card,.w3-card-2{
    box-shadow:0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12)
}

.w3-container,.w3-panel{
    border-radius: 5px 5px 0 0;
    width: 157px;
    text-align: center;
    margin-right:48px;
    background-color: white;
    transition: transform 210ms ease-in-out;
}

.w3-panel{
    margin-top:16px;
    margin-bottom:16px
}

.card-sizing{
    height:325px;
    border-radius: 5px;
}

.w3-container:hover{
    transform:scale(1.15,1.15);
    -webkit-transform:scale(1.15,1.15);
    -moz-transform:scale(1.15,1.15);
}

.txt-middle{
    vertical-align: middle;
    margin-top: 8px;
    margin-bottom: 8px;
    padding-bottom: 8px;
    width: 225px;
}

.card-align{
    width: 222px;
    margin-bottom: 10px;
}

.body-positioner{
    
    margin-left: 5px;
}

.wrap{
    width: 97%;
    flex-flow: row wrap;
    display: flex;
    height: 100%;
    padding-top: 150px;
    box-shadow: 5px 0 5px -5px rgba(0,0,0,0.7), -5px 0 5px -5px rgba(0,0,0,0.7);
    padding-left: 52px;
    overflow-y: hidden;
    margin-top: -89px;
    z-index: 5;
    background-color: white;
}

.home-wrap{
    width: 71.5%;
    display: flex;
    padding-top: 150px;
    box-shadow: 5px 0 5px -5px rgba(0,0,0,0.7), -5px 0 5px -5px rgba(0,0,0,0.7);
    padding-left: 52px;
    overflow-y: hidden;
    margin-top: -89px;
    z-index: 5;
    background-color: white;
    position: absolute;
    margin-left: -256px;
    justify-content: center;
}

.home-wrap, html{
    min-height: 86.9vh;
}


body {
    background-image: url(images/yugibg.png);
    background-color: white;
    z-index: 0;
}

.wrapper .sidebar{
    background: rgb(255, 255, 255);
    position: fixed;
    top:0;
    right:-450px;
    width: 450px;
    height:100%;
    padding: 10px 0;
    transition: all 0.5s ease;
    box-shadow: 5px 0 5px -5px rgba(0,0,0,0.7), -5px 0 5px -5px rgba(0,0,0,0.7);
    z-index: 10;
}

.wrapper .sidebar .cd-img{
    margin-top: 4.8rem;
    margin-bottom:30px;
    text-align: center;
}
.wrapper .sidebar .cd-img img{
    display:block;
    height: 350px;
    margin: 0 auto;
    border-radius: 5px;
}
.wrapper .sidebar .cd-img p{
    margin-right: 20px;
    border-bottom: 1px solid black;
    padding-bottom: 10px;
}
body.active .wrapper .sidebar{
   right: 0;
}
.wrapper .section{
    width: calc(100% - 450px);
    margin-left: 450px;
    transition: all 0.5s ease;
}

p{
    word-wrap:break-word !important;
    width:415px;
}

.detail-txt{
    text-align: left !important;
    
    
    height:fit-content;
}

.desc-box{
    width:425px;
    height: 250px;
    display:flex;
    height:fit-content;
    flex-flow:row wrap !important;
    word-wrap:break-word !important;
    margin-left: 20px;
}

h1{
    height: -moz-fit-content;
    height: fit-content;
    position: absolute;
    font-family: "Hertical Serif Demo";
    letter-spacing: 5px;
    font-size: 40px;
}

.login-wrap{
    height:40%;
    width:45%;
    margin-top:155px;
    background-color: white;
    z-index: 11;
    position:absolute;
    box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.7), -5px 0 5px -5px rgba(0,0,0,0.7);
    justify-content: center;
    display:flex;
    border-radius: 5px;
}

.input-wrap{
    height:12.5%;
    width: 75%;
    display:inline-block;
    position:absolute;
    font-size: 25px;
    justify-content: center;
    display: flex;
}

.input-user{
    margin-top: 100px;
}

.input-pass{
    margin-top: 220px;
}

.input-contain{
    display:flex;
    justify-content: center;
}

.input-label{
    height:fit-content;
    width:fit-content;
    display: flex;
    justify-content: flex-start;
    position: absolute;
    z-index: 50;
    background-color: white;
}

.user-label{
    margin-left: -64%;
    margin-top: 87px;
}

.pass-label{
    margin-left: -64%;
    margin-top: 208px;
}

.login-btn{
    height: 13%;
    width: 22.5%;
    display: flex;
    position: absolute;
    margin-top: 320px;
    align-items: center;
    justify-content: center;
    background-color: #b2591a;
    border-radius:4px;
    border-color: black;
    text-decoration: none;
    color: white;
    font-size:30px;
    font-family: "Hertical Serif Demo";
    letter-spacing: 3px;
}

.login-btn:hover{
    background-color: #48250c;
    transition: all linear 0.5s;
}

.scroll-hide{
    overflow-y: hidden;
}